@import "./constants.scss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none !important;
}

.app {
  height: 100vh;
  background-color: $background;
  .timer {
    background: $third;
    overflow: hidden;
    color: white;
    position: relative;
    .timer-metter {
      height: 100%;
      width: 100%;
      background-color: $secondary;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.text {
  font-family: $font;
}

.btn-main {
  background-color: $secondary !important;
  color: white !important;
  border: none !important;
}

.btn-transparent {
  &:focus,
  &:active {
    border-color: transparent !important;
  }
}

.btn-active {
  animation: pulse 1s ease-in-out infinite alternate both;
}

@keyframes pulse {
  0%,
  100% {
    background-color: darken($success, 35);
  }
  50% {
    background-color: darken($success, 30);
  }
}
