@import "./constants.scss";

body {
  margin: 0;
  padding: 0;
}

.app {
  @include flex-center;
  flex-direction: column;
  height: 100vh;
  background-color: $background;
  .header {
    padding: 0.7rem;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    @include flex-center;
    justify-content: space-between;
    .score-component {
      @include flex-center;
      font-size: 1rem;
      color: black;
      font-family: "Courier New", Courier, monospace;
      font-weight: bold;
      .score {
        padding-left: 0.3rem;
      }
    }
    .timer-component {
      @include flex-center;
      font-size: 1.6rem;
      gap: 0.3rem;
      .timer {
        width: 5rem;
        height: 1rem;
        background: white;
        border-radius: 8px;
        border: 2px solid black;
        overflow: hidden;
        .timer-metter {
          height: 100%;
          position: relative;
          width: 100%;
          background: blue;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          right: 1px;
          box-sizing: border-box;
        }
      }
    }
  }
  .main {
    flex: 15;
  }
}
