@import "./constants.scss";

.cell {
  border: 5px solid $cell;
  font-family: $font;
  @include flex-center;
  font-size: $font-size-larger;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: $third;
  box-shadow: $shadow;
  user-select: none;
}
