// file for constants
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Rubik&display=swap");

// colors:
$main: #ff3974;
$cell: darken($main, 10);
$secondary: darken($main, 20);
$background: #323641;
$third: #222222;
$error: #ff3333;

// fonts:
$font: "Rubik", sans-serif;
$font-size-large: clamp(2rem, 4vw, 3rem);
$font-size-mid: clamp(1.5rem, 4vw, 2.5rem);
$font-size-small: clamp(0.6rem, 4vw, 2rem);

// Piece:
$pieceSize: 75px;

// misc:
$shadow:
  0 10px 20px rgba(0, 0, 0, 0.19),
  0 6px 6px rgba(0, 0, 0, 0.23);

$border-radius: 10px;

// mixins:
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
