@import "./constants.scss";

.grid-container {
  height: auto;
  border-radius: $border-radius;
  .grid-elements {
    $size: clamp(350px, 80vw, 800px);
    height: $size;
    width: $size;
    color: $main;
    display: grid;
    gap: 5px;
    .cell {
      box-sizing: border-box;
      border: 2px solid $main;
      font-family: $font;
      @include flex-center;
      font-size: $font-size-large;
      cursor: pointer;
      border-radius: $border-radius;
      background-color: $third;
      box-shadow: $shadow;
      user-select: none;
      position: relative;
      &::before {
        top: 50%;
        left: 50%;
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red !important;
      }
    }
  }
}
