@import "./constants.scss";

.grid-container {
  flex: 11;
  height: auto;
  background-color: $secondary;
  border-radius: $border-radius;
  .grid-elements {
    $size: clamp(350px, 80vw, 800px);
    height: $size;
    width: $size;
    color: $main;
    display: grid;
    gap: 5px;
  }
}
