@import "./constants.scss";

.random-component-gen {
  height: 300px;
  background: $background;
  width: 100%;
  @include flex-center;
  justify-content: space-around;
  flex-direction: column;
  color: $main;
  font-family: $font;
  font-size: $font-size-small;
  .inner-piece-meter {
    width: 80%;
    display: flex;
    justify-content: center;
    input[type="range"] {
      display: block;
      margin: 0;
      padding: 0;
      font-size: inherit;
      width: 80%;
      height: 20px;
      border-radius: 0.25em;
      border: 3px solid $main;
      background-color: $third;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      transition: 0.2s linear;
    }

    input[type="range"] {
      @mixin thumb() {
        margin: 0.05em;
        padding: 0;
        height: 15px;
        width: 0.9em;
        border-radius: 0.1em;
        box-sizing: border-box;
        border: none;
        background-color: red;
        // box-shadow:
        //   -10em 0 0 0 #313131,
        //   -9em 0 0 0 #313131,
        //   -8em 0 0 0 #2f343f,
        //   -7em 0 0 0 #283f6b,
        //   -6em 0 0 0 #214893,
        //   -5em 0 0 0 #1a52bc,
        //   -4em 0 0 0 #2769d3,
        //   -3em 0 0 0 #3e87dc,
        //   -2em 0 0 0 #55a5e6,
        //   -1em 0 0 0 #6fc5f0,
        //   1em 0 0 0 $third,
        //   2em 0 0 0 $third,
        //   3em 0 0 0 $third,
        //   4em 0 0 0 $third,
        //   5em 0 0 0 $third,
        //   6em 0 0 0 $third,
        //   7em 0 0 0 $third,
        //   8em 0 0 0 $third,
        //   9em 0 0 0 $third;
      }
      &::-webkit-slider-thumb {
        @include thumb();
      }
      &::-moz-range-thumb {
        @include thumb();
      }
      &::-ms-thumb {
        @include thumb();
      }
    }

    /* ## Browser tweaks */
    /* ### webkit */
    input[type="range"] {
      &,
      &::-webkit-slider-runnable-track,
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
      }
    }

    /* ### IE */
    input[type="range"] {
      &::-ms-track {
        color: transparent;
      }
      &::-ms-fill-lower,
      &::-ms-fill-upper,
      &::-ms-tooltip {
        display: none;
      }
    }
  }
  .random-piece-spawn {
    width: 100px;
    height: 100px;
  }
}

.gold,
.gold_add {
  background: blue;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  position: relative;
}
.gold_add {
  background: yellow;
}
.trashcan {
  position: absolute;
  bottom: 0;
  right: 0;
  background: $background;
  border-top-left-radius: 1rem;
  path {
    fill: $main;
  }
}

.piece {
  @include flex-center;
  &.locked {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #32364169;
    }
    svg {
      z-index: 2;
    }
  }
}
