.random-component-gen {
  height: 300px;
  background: blue;
  width: 100%;
  .component1 {
    background: green;
    width: 100px;
    height: 100px;
  }
  .component2 {
    background: black;
    width: 100px;
    height: 100px;
  }
}
