@import "./constants.scss";

.shop {
  background: $third;
}

.piece-spawn {
  width: $pieceSize;
  height: $pieceSize;
}

.piece-metter {
  appearance: none;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  &::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
  }
}

.generator {
  background: $main;
  clip-path: polygon(100% 0, 100% 81%, 75% 100%, 25% 100%, 0 81%, 0% 0%);
  padding: 1.5rem;
  position: absolute;
  top: -50%;
}

.gold,
.gold_add {
  background: lightseagreen;
  width: $pieceSize;
  height: $pieceSize;
  border-radius: 1rem;
  position: relative;
}
.gold_add {
  background: lightsalmon;
}

.devider {
  background: transparentize($background, 0.2);
}

.market {
  display: grid;
  gap: 2px;
  margin: 2px;
  .cell {
    background: transparentize($background, 0.4);
    cursor: pointer;
    @include flex-center;
    transition: background-color 0.1s ease-in-out;
    &:not(.locked):hover {
      background: lighten(transparentize($background, 0.2), 15);
    }
    position: relative;
    .piece {
      box-shadow: 0px 0px 15px 5px $third;
    }
    &.locked {
      .piece {
        background-color: darken($third, 2);
      }
      .price {
        color: $error;
      }
    }
    .price {
      position: absolute;
      bottom: 0%;
      right: 1%;
      user-select: none;
      font-family: $font;
      color: white;
    }
  }
}
.shop-button {
  color: white;
  font-family: $font;
  cursor: pointer;
  background: $main;
  margin: 2px;
  user-select: none;
  transition: background-color 0.1s ease-in-out;
  &:not(.active):hover {
    background: lighten($main, 10);
  }
  &.active {
    @extend .devider;
    margin: 0;
    cursor: default;
  }
  &.shop {
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  }
  &.upgrades {
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
  }
}
