// file only for exporting variables to react

@import "./constants.scss";

:export {
  main: $main;
  error: $error;
  font: $font;
  background: $background;
  disabled: $disabled;

  @each $name, $color in $pieces {
    #{$name}: $color;
  }
}
