// file only for exporting variables to react

@import "./constants.scss";

:export {
  main: $main;
  error: $error;
  font: $font;
  background: $background;
  secondary: $secondary;
  third: $third;
  disabled: $disabled;
  toExpensive: $toExpensive;
  active: $active;

  @each $name, $color in $pieces {
    #{$name}: $color;
  }
}
